<div class="flex flex-col gap-y-4 sm:gap-y-8 lg:gap-y-16">
  <%= render "static/hero" %>

  <div class="bg-slate-800 py-4 sm:pay-8 lg:py-16">
    <%= render "static/testimonials" %>
  </div>

  <%= render "static/pricing" %>
</div>